*{
    margin: 0;
    padding: 0;
    box-sizing: block;
}
body{
   
    height: 100vh;
    background-color: rgb(196, 81, 81);
    display: flex;
    justify-content: center;
    align-items: center;   
}
